<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/main-min.css">
</head>

<body>
<a href="/account/login">Login</a> | <a href="/account/signup">Sign Up</a>
    <h1>{{ title }}</h1>
	{{#if messages}}
	<div class="display-error">
    	<img src="/images/error.png" alt="error" height="32" width="32" />
    	{{#messages}}
      		{{[1]}} <br />
    	{{/messages}}
  	</div>
	{{/if}}
	<ul>
		{{#users}}  
	 		<li>Id: {{ user_id }}, Username: {{ username }} </li>
	    {{/users}}
	</ul>	
	{{{ body }}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
