body
{
    background:#fff;
}

.display-error
{
   width: 400px;
   border: 1px solid #D8D8D8;
   padding: 5px;
   border-radius: 5px;
   font-family: Arial;
   font-size: 11px;
   text-transform: uppercase;
   background-color: rgb(255, 249, 242);
   color: rgb(211, 0, 0);
   text-align: center;
}
 
.display-error img
{
   float: left;
}
 
#display-success
{
   width: 400px;
   border: 1px solid #D8D8D8;
   padding: 10px;
   border-radius: 5px;
   font-family: Arial;
   font-size: 11px;
   text-transform: uppercase;
   background-color: rgb(236, 255, 216);
   color: green;
   text-align: center;
   margin-top: 30px;
}
