<h2>Home</h2>
<div id="postform">
  <form method="post" action="/post/insert">
    <p> what are you doing?</p>
    <textarea cols="70" rows="30" name="status"></textarea>
    <input type="submit" name="postit" value="Update"/>
  </form>
</div>

